.vs-editor-toolbox {

    background-color: #E5EDFA;
    display: inline-block;
    float: left;
}

.vs-toolbox-header {
    text-align: center;
    margin:auto;
    width: inherit;
    font-family: Tahoma;
    font-size: 8pt;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(#FFF 10%, #FFF, #DDE9F7);
}

.vs-toolbox-header:hover {
    cursor: pointer;
}

.vs-toolbox-item {
    padding: 7px;
}