
.ui-menu-list {
    display: none;
}

.vs-menu-bar {
    width: 100%;
    height: auto;
    padding: 2px;
    background-color: #e5edfa;
}

#menu-file:hover #menu-file-list{
    display: block;
    z-index: 1;
    position: absolute;
    top: inherit;
}

#menu-edit:hover #menu-edit-list{
    display: block;
    z-index: 1;
    position: absolute;
    top: inherit;
}

#menu-view:hover #menu-view-list{
    display: block;
    z-index: 1;
    position: absolute;
    top: inherit;
}

.vs-menu-item {
    display: inline-block;
    height:inherit;
    font-family: Tahoma;
    font-size: 8pt;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor:pointer;
    display: inline-block;
    color: black;
}

.vs-menu-item:hover{
    background-color: #3399FF;
    color: white;
    transition: all 0.1s ease-in-out;
}
