
#menu {
    display: inline-block;
    height: 20px;
}


.vs-menu {
    display: inline-block;
    background-color: #00b3ee;
    border: solid thin black;
    background:url('/img/testicons.png') no-repeat top left;/* 04/10/2014 */
    width:21px;
    height:21px;
}

.vs-menu-file {
    background-position: 0 -3389px;
}

h1 {
    color: green;
}